<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile et-scrollable-table">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Staff
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data">
                    <table class = "kt-datatable__table" style = "display: block; overflow:scroll">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Name">
                                    <span style="width: 110px;">Name</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Fullname">
                                    <span style="width: 110px;">Fullname</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Email">
                                    <span style="width: 110px;">Email</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body" id="et-staff-list">

                        </tbody>
                    </table>
               
                </div>

                <!--end: Datatable -->

            </div>
        </div>

                <div class="kt-portlet kt-portlet--mobile et-scrollable-table">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Tutor
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data">
                    <table class = "kt-datatable__table" style = "display: block; overflow:scroll">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Name">
                                    <span style="width: 110px;">Name</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Fullname">
                                    <span style="width: 110px;">Fullname</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Email">
                                    <span style="width: 110px;">Email</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body" id="et-tutor-list">
                        </tbody>
                    </table>
               
                </div>

                <!--end: Datatable -->

            </div>
        </div>

        <div class="kt-portlet kt-portlet--mobile et-scrollable-table">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Students
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data">
                    <table class = "kt-datatable__table" style = "display: block; overflow:scroll">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row" style="left: 0px;">
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Name">
                                    <span style="width: 110px;">Name</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Fullname">
                                    <span style="width: 110px;">Fullname</span>
                                </th>
                                <th class="kt-datatable__cell kt-datatable__cell--sort" data-field="Email">
                                    <span style="width: 110px;">Email</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body" id="et-student-list">
                        </tbody>
                    </table>
               
                </div>

                <!--end: Datatable -->

            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>