<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<!--Begin::Section-->
		<div class="row">
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/1.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/300_21.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden">
										ChS
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										Samsung
									</a>
									<a href="#" class="kt-widget__username kt-hidden">
										Luca Doncic
									</a>
									<span class="kt-widget__desc">
										Head of Development
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Budget:</span>
										<a href="#" class="kt-widget__data">$249,500</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Expences:</span>
										<a href="#" class="kt-widget__data">$76,810</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Due Date:</span>
										<span class="kt-widget__data">21.05.2016</span>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-warning btn-lg btn-upper">view
									project</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>

					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/2.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/300_19.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest  kt-hidden">
										MP
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										Adidas
									</a>
									<a href="#" class="kt-widget__username kt-hidden">
										Charlie Stone
									</a>
									<span class="kt-widget__desc">
										PR Manager
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Budget:</span>
										<a href="#" class="kt-widget__data">$452,654</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Expences:</span>
										<a href="#" class="kt-widget__data">$276,210</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Due Date:</span>
										<span class="kt-widget__data">11.03.2015</span>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-danger btn-lg btn-upper">view
									project</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/3.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/100_1.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--info kt-font-info kt-font-boldest  kt-hidden">
										A K
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										Nissan
									</a>
									<a href="#" class="kt-widget__username kt-hidden">
										Anna Krox
									</a>
									<span class="kt-widget__desc">
										Python Developer
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Budget:</span>
										<a href="#" class="kt-widget__data">$645,124</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Expences:</span>
										<a href="#" class="kt-widget__data">$56,532</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Due Date:</span>
										<span class="kt-widget__data">06.07.2017</span>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-brand btn-lg btn-upper">view project</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/4.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/100_3.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--brand kt-font-brand kt-font-boldest kt-hidden">
										JM
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										Carver companies
									</a>
									<a href="#" class="kt-widget__username kt-hidden">
										Jason Muller
									</a>
									<span class="kt-widget__desc">
										Atr Direcrtor
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Budget:</span>
										<a href="#" class="kt-widget__data">$265,535</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Expences:</span>
										<a href="#" class="kt-widget__data">$543,231</a>
									</div>
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Due Date:</span>
										<span class="kt-widget__data">24.11.2017</span>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-success btn-lg btn-upper">view
									project</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
		</div>
		<!--End::Section-->

	</div>
</div>