	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<!--Begin::Section-->
		<div class="row">
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>
					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/1.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/300_21.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden">
										ChS
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										Tutor Assignments
									</a>
									<span class="kt-widget__desc">
										View and assign personal tutor to students 
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Number of assignments:</span>
										<a href="#" class="kt-widget__data">2</a>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-warning btn-lg btn-upper" id="et-view-class-list-btn">View</button>								</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
			<div class="col-xl-3">

				<!--Begin::Portlet-->
				<div class="kt-portlet kt-portlet--height-fluid">
					<div class="kt-portlet__head kt-portlet__head--noborder">
						<div class="kt-portlet__head-label">
							<h3 class="kt-portlet__head-title">
							</h3>
						</div>

					</div>
					<div class="kt-portlet__body">

						<!--begin::Widget -->
						<div class="kt-widget kt-widget--user-profile-2">
							<div class="kt-widget__head">
								<div class="kt-widget__media">
									<img class="kt-widget__img kt-hidden-" src="assets/media/project-logos/2.png"
										alt="image">
									<img class="kt-widget__img kt-hidden" src="assets/media/users/300_19.jpg"
										alt="image">
									<div
										class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest  kt-hidden">
										MP
									</div>
								</div>
								<div class="kt-widget__info">
									<a href="#" class="kt-widget__titel kt-hidden-">
										User Management
									</a>
									
									<span class="kt-widget__desc">
										View list of users, create/update/delete users
									</span>
								</div>
							</div>
							<div class="kt-widget__body">
								<div class="kt-widget__item">
									<div class="kt-widget__contact">
										<span class="kt-widget__label">Number of users</span>
										<a href="#" class="kt-widget__data">2</a>
									</div>
								</div>
							</div>
							<div class="kt-widget__footer">
								<button type="button" class="btn btn-label-danger btn-lg btn-upper" id="et-view-user-list-btn">view
									</button>
							</div>
						</div>

						<!--end::Widget -->
					</div>
				</div>

				<!--End::Portlet-->
			</div>
		</div>
		<!--End::Section-->

	</div>
